[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PetfindeR"]
	path = PetfindeR
	url = https://github.com/aschleg/petfinder
[submodule "Rpoet"]
	path = Rpoet
	url = https://github.com/aschleg/rpoet
